body {
color: #FFFFFF;
background-color: #373737;
}
.nav-item {
color: #FFFFFF;
}
.nav-list li a {
color: #FFFFFF;
}
.nav-list li a:hover {
color: #e4a621;
}

.logotype-text {
color: #FFFFFF;
}
.hero-h1 {
color: #FFFFFF;
}
.footer-logotype-text {
color: #FFFFFF;
}
.hero-p {
color: #FFFFFF;
}
.article-container {
color: #FFFFFF;
}
.main-footer {
    border-top: 1px solid #ffffff;
}
.source {
    border-top: 1px solid #ffffff;
}
.source-link {
    color:#FFFFFF
}