body {
color: #000000;
background-color: #FFFFFF;
}
.nav-item {
color: #000000;
}
.nav-list li a {
color: #000000;
}
.nav-list li a:hover {
color: #e4a621;
} 
.logotype-text {
color: #000000;
}
.hero-h1 {
color: #FFFFFF;
}
.footer-logotype-text {
color: #000000;
}
.hero-p {
color: #FFFFFF;
}
.article-container {
color: #000000;
}

    